.btn-middle{
    width:100%;
    margin-top:10px;
}

.margin-nav{
    margin-top:3px;
}

.no-wrap-element{
    white-space:nowrap;
}

#invites{
    margin-bottom:5px;
}

.valign-form{
    margin-top:9px;
}

.margin-form
{
    margin-bottom:5px;
}

.focus-pointer{
    cursor:pointer;
}

.no-margin-element{
    margin-bottom:0px;
}

#suggestions{
    margin-top:5px;
}

.inline-form{
    display:inline;
}

.panel-heading-bigger{
    font-size:20px;
    font-weight: bold;
}

.bigger-label{
    font-size: 16px;
}

/* for datetimepicker commented out, I thinks it's not used anymore, jawu
table a{color:white;font-size:16px;}
table a:hover{color:white;text-decoration: none} */

.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.errorlist > li{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.warning_red{
    color: #d9534f;
}

p#project_icon{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 14px;
}

.project_icon{
    font-size: 30px !important;
    margin-right: 10px;
}

.project_icon_choose{
    font-size: 30px !important;
    margin-bottom: 25px;
}
.project_icon:hover,
.project_icon_choose:hover{
    font-size: 30px !important;
    cursor: pointer;
}

.project_icon_chosen{
    color: #337ab7;
}

.cursor-pointer{
    cursor: pointer;
}

.date-field-readonly{
    background-color: white !important;
    cursor: pointer !important;
}

.nobg:hover{
    background-color: #337ab7;
}

.nobg select{
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.tag-outer{
    display: inline-block;
    margin-right: 5px;
}

.tag-outer:hover {
    text-decoration: none;
}

.tag-no-interactive,
.tag{
    color: #fff;
    background-color: #337ab7;
    font-size: 14px;
    border-radius: 0.25em;
    padding: 0.25em 0.75em;
    white-space: nowrap;
}

.tag:hover{
    background-color: #d9534f;
    cursor: pointer;
}

.tag-no-interactive i,
.tag i{
    margin-right: 5px;
}

.suggestion{
    display:inline;
    margin-right:5px;
}

.toggle_header:hover{
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.offset-left {
    padding-left: 20px;
    padding-right: 20px;
}

.hide-alert {
    display:none;
}

/* here i some fun stuff to surprise you */
.navbar-brand:hover i
{
    -webkit-animation:fa-spin 0.4s 1 linear;
    animation:fa-spin 0.4s 1 linear;
}

@media (max-width: 768px) {
    .small-cal {
        display:block;
    }

    .big-cal {
        display:none;
    }
}

@media (min-width: 769px) {
    .small-cal {
        display:none;
    }

    .big-cal {
        display:block;
    }
}


.todo-table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

.todo-table > div {
    display: table-row;
}

.todo-table > div > div {
    display: table-cell;
    padding-right: 10px;
}

.todo-table-spacer {
    height: 15px;
}

/*
body {
    background-image: url("img/bridge-bg.jpg");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel {
    opacity: 0.95;
}
*/


