.btn-middle{
    width:100%;
    margin-top:10px;
}

.margin-nav{
    margin-top:3px;
}

.no-wrap-element{
    white-space:nowrap;
}

#invites{
    margin-bottom:5px;
}

.valign-form{
    margin-top:9px;
}

.margin-form
{
    margin-bottom:5px;
}

.focus-pointer{
    cursor:pointer;
}

.no-margin-element{
    margin-bottom:0px;
}

#suggestions{
    margin-top:5px;
}

.inline-form{
    display:inline;
}

.panel-heading-bigger{
    font-size:20px;
    font-weight: bold;
}

.bigger-label{
    font-size: 16px;
}

table a{color:white;font-size:16px;}
table a:hover{color:white;text-decoration: none}

.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.errorlist > li{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.warning_red{
    color: #d9534f;
}

p#project_icon{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 14px;
}

.project_icon{
    font-size: 30px !important;
    margin-right: 10px;
}

.project_icon_choose{
    font-size: 30px !important;
    margin-bottom: 25px;
}
.project_icon:hover,
.project_icon_choose:hover{
    font-size: 30px !important;
    cursor: pointer;
}

.project_icon_chosen{
    color: #337ab7;
}

.cursor-pointer{
    cursor: pointer;
}

.date-field-readonly{
    background-color: white !important;
    cursor: pointer !important;
}

.nobg:hover{
    background-color: #337ab7;
}

.tag-outer{
    display: inline-block;
    margin-right: 5px;
}

.tag-no-interactive,
.tag{
    color: #fff;
    background-color: #337ab7;
    font-size: 14px;
    border-radius: 0.25em;
    padding: 0.25em 0.75em;
    white-space: nowrap;
}

.tag:hover{
    background-color: #d9534f;
    text-decoration: line-through;
    cursor: pointer;
}

.tag-no-interactive i,
.tag i{
    margin-right: 5px;
}

.suggestion{
    display:inline;
    margin-right:5px;
}

.toggle_header:hover{
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
