.btn-middle{
    width:100%;
    margin-top:10px;
}

.margin-nav{
    margin-top:3px;
}

.no-wrap-element{
    white-space:nowrap;
}

#invites{
    margin-bottom:5px;
}

.valign-form{
    margin-top:9px;
}

.margin-form
{
    margin-bottom:5px;
}

.focus-pointer{
    cursor:pointer;
}

.no-margin-element{
    margin-bottom:0px;
}

#suggestions{
    margin-top:5px;
}

.suggestion{
    display:inline;
    margin-right:5px;
}

.inline-form{
    display:inline;
}

.panel-heading-bigger{
    font-size:20px;
    font-weight: bold;
}

.bigger-label{
    font-size: 16px;
}

table a{color:white;font-size:16px;}
table a:hover{color:white;text-decoration: none}

.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.errorlist > li{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
