{% extends "project_management_template.html" %}
{% load i18n %}
{% block project_management_template %}
    <h1>{% trans "Create new project" %}</h1>
    {% for error, message in error_messages.items %}
        {{ message }}<br>
    {%  endfor %}
    <form method="post" action="{% url 'project_management:create' %}">
        {% csrf_token %}
        {{ form }}
        <input type="text" name="invitations" placeholder="{% trans "Members" %}">
        <input type="submit" value="{% trans "Create" %}">
    </form>
{% endblock %}