{% extends "project_management_template.html" %}
{% load i18n %}
{% load myfilters %}
{% block project_management_template %}
    <h1>{% trans "Create new project" %}</h1>
    {% for error, message in error_messages.items %}
        {{ message }}<br>
    {%  endfor %}
    <form method="post" class="form-group" action="{% url 'project_management:create' %}">
        {% csrf_token %}
        {% for field in form %}
            {{field.label_tag}}{{ field|addcss:'form-control' }}<br>
        {% endfor %}
        <input type="hidden" id="hiddenValues" name="invitations" />
        <label for="newInputs" class="control-label">{% trans "Add Members" %}</label>
        <div id="suggestions">
        </div>
        <div id="newInputs">
            <div class="form-group">
                <div class="input-group date">
                    <input id="users" type="text" placeholder="Username oder Email angeben" class="form-control member"><span class="input-group-addon addUserButton focus-pointer"><i class="glyphicon glyphicon-plus-sign"></i></span>
                </div>
            </div>
        </div>
        <input onClick="insertHiddenValues()" type="submit" class="btn btn-primary" value="{% trans "Create" %}">
    </form>
{% endblock %}