{% extends "project_management_template.html" %}
{% load i18n %}
{% load myfilters %}
{% block js %}
<script type="text/javascript">
    {% include "edit_project_form_control.js" %}
</script>
{% endblock %}
{% block project_management_template %}
    <h1>{{ headline }}</h1>
    {% for error, message in error_messages.items %}
        {{ message }}<br>
    {%  endfor %}
    <div class="jumbotron">
    <form method="post" autocomplete="off" class="form-group" action="{% if project %} {% url 'project_management:edit' project.id %} {% else %} {% url 'project_management:create' %} {% endif %}">
        {% csrf_token %}
        {% for field in form %}
            {{field.label_tag}}{{ field|addcss:'form-control' }}<br>
        {% endfor %}
        <input type="hidden" id="hiddenValues" name="invitations" />
        <label for="newInputs" class="control-label">{% trans "Invite Members" %}</label>
        <div id="newInputs">
            <div class="form-group">
                <div class="input-group date">
                    <input id="users" type="text" placeholder='{% trans "Username or eMail" %}' class="form-control member"><span class="input-group-addon addUserButton focus-pointer"><i class="glyphicon glyphicon-plus-sign"></i></span>
                </div>
                <div id="suggestions">
                </div>
            </div>
        </div>

        {% if members %}
            <label for="members" class="control-label">{% trans "Members" %}</label>
            {% for member in members %}
                <div id="members">
                    <div class="form-group">
                        <div class="input-group date">
                            <input id="member_users" type="text" class="form-control" disabled="disabled" value="{{ member }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if invitations %}
            <label for="invitations" class="control-label">{% trans "Invited" %}</label>
            {% for invitation in invitations %}
                <div id="invitations">
                    <div class="form-group">
                        <div class="input-group date">
                            <input id="invited_users" type="text" class="form-control" disabled="disabled" value="{{ invitation.user.username }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}


        <input onClick="insertHiddenValues()" name="create_save" type="submit" class="btn btn-primary" value="{% if project %} {% trans "Save" %} {% else %} {% trans "Create" %} {% endif %}">
    </form>
        </div>
{% endblock %}