{% extends "project_management_template.html" %}
{% load i18n %}
{% block project_management_template %}
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-bigger">{{ project.name }}</div>
        <div class="panel-body">
            <p>
                {{ project.description }}
            </p>
            <table class="table">
                <tr>
                    <td><strong>{% trans "Members" %}:</strong></td>
                    <td>{% for member in members %}
                        <a href="{% url 'user_management:profile' member %}"><span class="label label-success">{{ member }}</span></a>
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td><strong>{% trans "Invited" %}:</strong></td>
                    <td>{% for invitation in invitations %}
                       <span class="bigger-label"><span class="label label-warning">{{ invitation.user.username }}</span></span>
                    {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
            <div class="form-group inline-form" >
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#leaveGroupModal">{% trans "leave group" %}</button>
            </div>
            <a href="{% url 'project_management:edit' project.id %}">
                <button type="submit" class="btn btn-success">{% trans "edit group" %}</button>
            </a>
        </div>
    </div>
    <div class="modal fade" id="leaveGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Leave group" %}</h4>
          </div>
          <div class="modal-body">
            {% trans "Are you sure, you want to leave this group?" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Don't leave group" %}</button>
            <form class="form-group inline-form" action="{% url 'project_management:leave' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="project_id" value="{{ project.id }}">
                <input type="submit" class="btn btn-danger" value="{% trans "Leave Group" %}">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}