{% extends "project_management_template.html" %}
{% load i18n %}
{% block project_management_template %}
    <h1 id="your_projects_heading">{% trans "Your projects" %}</h1>
    {% if projects %}
    <div class="list-group">
        {% for project in projects %}
        <a href="{% url 'project_management:project' project.id %}" class="list-group-item" ><h4>{{ project }}</h4>{{ project.description }}</a>
        {% endfor %}
    </div>
    {% else %}
        <p>{% trans "You don't currently have any projects :(" %}</p>
    {% endif %}
{% endblock %}