{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'tweap/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'tweap/css/bootstrap.css' %}" />
    <title>{% block title %}Tweap{% endblock %}</title>
</head>
<body>
    <div class="container">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                <select name="language">
                {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                      {{ language.name_local }} ({{ language.code }})
                    </option>
                  {% endfor %}
                </select>
                <input type="submit" value="{% trans "change" %}" />
            </form>
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>