{% extends "base.html" %}
{% load i18n %}
{% block navigation %}
        <li><a href="{% url 'user_management:home' %}">{% trans "Dashboard" %}</a></li>
        <li><a href="{% url 'project_management:create' %}">{% trans "new Project" %}</a></li>
        <li><a href="">{% trans "Projects" %}</a></li>
        <li><a href="{% url 'user_management:profile' %}">{% trans "Profile" %}</a></li>
        <li><a href="{% url 'user_management:logout' %}">{% trans "Logout" %}</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {% block project_management %}{% endblock %}
    </div>
</div>
{% endblock %}