{% extends "project_management_template.html" %}
{% load i18n %}
{% block js %}
<script type="text/javascript">
    {% include "inbox_handler.js" %}
</script>
{% endblock %}
{% block project_management_template %}
    <h1>{% trans "Dashboard" %}</h1>

        {% if invitations or notifications %}
        <div class="row">
            <div class="col-md-6">
                <div class="list-group" id="inbox">
                    <span class="list-group-item active noselect toggle_header"><i class="fa fa-inbox"></i> {% trans "Inbox" %}</span>
                    <div class="toggle_content" id="inbox-inner">
                        {% for invitation in invitations %}
                        <div id="invitation_container_id_{{ invitation.id }}" class="list-group-item">
                            <p>
                                <strong class="invitation_title">{% trans "Invitation to project" %}: {{ invitation.project.name }}</strong>&nbsp;
                                <button data-invitation-id="{{ invitation.id }}" title="reject the Invitation" name="rejectInvitation" class="btn btn-xs btn-danger rejectInvitation pull-right"><i class="glyphicon glyphicon-remove"></i></button>
                                <button data-invitation-id="{{ invitation.id }}" title="accept the Invitation" name="acceptInvitation" class="btn btn-xs btn-success acceptInvitation pull-right" style="margin-right: 5px;"><i class="glyphicon glyphicon-ok"></i></button>
                            </p>
                            <p>{{ invitation.project.description }}</p>
                        </div>
                        {% endfor %}
                        {% for notification in notifications %}
                        <div id="notification_container_id_{{ notification.id }}" class="list-group-item">
                            <p><a href="{% url 'user_management:profile' notification.trigger_user.username %}">{{ notification.trigger_user.username }}</a> {{ notification.event.text }} in <a href="{% url 'project_management:project' notification.project.id %}">{{ notification.project.name }}</a> <span class="small">({{ notification.timestamp }})</span>
                                <button data-notification-id="{{ notification.id }}" title="Mark as Seen" name="markNotificationSeen" class="btn btn-xs btn-success markNotificationSeen pull-right pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                                <a href="{% url 'notification_center:view' notification.id %}" data-notification-id="{{ notification.id }}" title="View" name="followNotification" class="btn btn-xs btn-primary followInvitation pull-right" style="margin-right: 5px;"><i class="glyphicon glyphicon-eye-open"></i></a>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <div class="list-group">
                    <span class="list-group-item active"><i class="fa fa-bullhorn"></i> {% trans "Today" %}</span>
                    {% if overdue or due_today or events_today %}
                        {% for todo in overdue %}
                           <a href="{% url 'todo:todo' todo.id %}" class="list-group-item"><i class="fa fa-exclamation-triangle warning_red"></i> {{ todo.title }} <span class="small">&nbsp;{% trans "for" %}&nbsp;</span> {{ todo.project.name }}</a>
                        {% endfor %}
                        {% for todo in due_today %}
                           <a href="{% url 'todo:todo' todo.id %}" class="list-group-item"><i class="fa fa-pencil-square-o"></i> {{ todo.title }} <span class="small">&nbsp;{% trans "for" %}&nbsp;</span> {{ todo.project.name }}</a>
                        {% endfor %}
                        {% for event in events_today %}
                            <a href="{% url 'cal:edit' event.id %}" class="list-group-item"><i class="fa fa-calendar"></i> {{ event.title }} <span class="small">&nbsp;{% trans "for" %}&nbsp;</span> {{ event.project.name }}</a>
                        {% endfor %}
                    {% else %}
                        <div class="list-group-item"><i class="fa fa-smile-o"></i> {% trans "Looks like you got a free day!" %}</div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                    <div class="list-group">
                        <span class="list-group-item active"><i class="fa fa-bell-o"></i> {% trans "Next 7 days" %}</span>
                        {% if due_this_week or events_this_week %}
                             {% for todo in due_this_week %}
                                <a href="{% url 'todo:todo' todo.id %}" class="list-group-item"><i class="fa fa-pencil-square-o"></i> {{ todo.title }} <span class="small">&nbsp;{% trans "for" %}&nbsp;</span> {{ todo.project.name }} <span class="pull-right">{{ todo.due_date }}</span></a>
                             {% endfor %}
                            {% for event in events_this_week %}
                                <a href="{% url 'cal:edit' event.id %}" class="list-group-item"><i class="fa fa-calendar"></i> {{ event.title }} <span class="small">&nbsp;{% trans "for" %}&nbsp;</span> {{ event.project.name }}</a>
                            {% endfor %}
                        {% elif overdue or due_today %}
                            <div class="list-group-item"><i class="fa fa-rocket"></i> {% trans "Once you are done today, you got nothing for the rest of the week!" %}</div>
                        {% else %}
                            <div class="list-group-item"><i class="fa fa-rocket"></i> {% trans "Nothing to do this week! Why not start a" %} <a href="{% url 'project_management:create' %}">{% trans "new project" %}</a>?</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}