{% extends "project_management_template.html" %}
{% load i18n %}
{% block js %}
<script type="text/javascript">
    {% include "invitation_handler.js" %}
</script>
{% endblock %}
{% block project_management_template %}
    <h1>{% trans "Dashboard" %}</h1>

        {% if invitations %}
        <div class="row">
            <div class="col-md-6">
                <div class="list-group">
                    <span class="list-group-item active"><i class="fa fa-envelope-o"></i> {% trans "Invitations" %}</span>
                    {% for invitation in invitations %}

                    <div id="invitation_container_id_{{ invitation.id }}" class="list-group-item">
                        <p><strong>{{ invitation.project.name }}</strong>&nbsp;
                            <button id="{{ invitation.id }}" name="rejectInvitation" class="btn btn-xs btn-danger rejectInvitation pull-right"><i class="glyphicon glyphicon-remove"></i></button>
                            <button id="{{ invitation.id }}" name="acceptInvitation" class="btn btn-xs btn-success acceptInvitation pull-right" style="margin-right: 5px;"><i class="glyphicon glyphicon-ok"></i></button>
                        </p>
                        <p>{{ invitation.project.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <div class="list-group">
                    <span class="list-group-item active"><i class="fa fa-bullhorn"></i> {% trans "Today" %}</span>
                    {% if overdue or due_today %}
                        {% for todo in overdue %}
                           <a href="{% url 'todo:todo' todo.id %}" class="list-group-item"><i class="fa fa-exclamation-triangle warning_red"></i> {{ todo.title }} <span class="small">&nbsp;{% trans "for" %}&nbsp;</span> {{ todo.project.name }}</a>
                        {% endfor %}
                        {% for todo in due_today %}
                           <a href="{% url 'todo:todo' todo.id %}" class="list-group-item"><i class="fa fa-pencil-square-o"></i> {{ todo.title }} <span class="small">&nbsp;{% trans "for" %}&nbsp;</span> {{ todo.project.name }}</a>
                        {% endfor %}
                    {% else %}
                        <div class="list-group-item"><i class="fa fa-smile-o"></i> {% trans "Looks like you got a free day!" %}</div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                    <div class="list-group">
                        <span class="list-group-item active"><i class="fa fa-bell-o"></i> {% trans "This week" %}</span>
                        {% if due_this_week %}
                             {% for todo in due_this_week %}
                                <a href="{% url 'todo:todo' todo.id %}" class="list-group-item"><i class="fa fa-pencil-square-o"></i> {{ todo.title }} <span class="small">&nbsp;{% trans "for" %}&nbsp;</span> {{ todo.project.name }} <span class="pull-right">{{ todo.due_date }}</span></a>
                             {% endfor %}
                        {% else %}
                            <div class="list-group-item"><i class="fa fa-rocket"></i> {% trans "Nothing to do this week! Why not start a " %}<a href="{% url 'project_management:create' %}">{% trans "new project" %}</a>?</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}