{% extends "project_management_template.html" %}
{% load i18n %}
{% block project_management_template %}
    <h1>{% trans "Dashboard" %}</h1>
    <div>
        <h3>{% trans "Welcome" %} {{ user.get_username }}!</h3>
        <p>{% trans "Soon(ish) this is where you'll find your most needed information: Upcoming todo's, calendar events, project invites and the most important updates from your projects. You'll love it!" %}</p>
        {% if invitation_count > 0 %}
            <h4>{% trans "Here are your updates:" %}</h4>
            <p><span class="glyphicon glyphicon-envelope"></span> <a href="{% url 'project_management:view_invites' %}">{% trans "You have " %}{{invitation_count}}{% trans " pending project invitations" %}</a></p>
        {% endif %}
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="list-group">
                    <span class="list-group-item active">{% trans "Due today" %}</span>
                     {% for todo in due_today %}
                        <a href="{% url 'todo:todo' todo.id %}" class="list-group-item">{{ todo.title }} {% trans "for" %} {{ todo.project.name }}</a>
                     {% endfor %}
                </div>
            </div>

            <div class="col-md-6">
                    <div class="list-group">
                        <span class="list-group-item active">{% trans "Due this week" %}</span>
                         {% for todo in due_this_week %}
                            <a href="{% url 'todo:todo' todo.id %}" class="list-group-item">{{ todo.title }} {% trans "for" %} {{ todo.project.name }}</a>
                         {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}