{% extends "tweap/no_session_template.html" %}
{% load i18n %}
{% block no_session_template %}
{% load staticfiles %}
    <div class="col-md-8 col-md-offset-2">
        <div id="introduction" class="well well-lg panel">
            <h1>{% trans "Hey! Welcome to tweap" %}</h1>
            <h3>{% trans "tweap is teamwork - easy as pie! We strive to make an awesome and streamlined project management software that allows you to seamlessly create, manage and rock projects!" %}</h3>
        </div>
    </div>

{% endblock %}