{% extends "no_session_template.html" %}
{% load i18n %}
{% block no_session_template %}
{% load staticfiles %}
    <div class="col-md-8 col-md-offset-2">
        <div id="introduction">
            <h1>{% trans "Hey! Welcome to tweap" %}</h1>
            <h3>{% trans "tweap is teamwork - easy as pie! We strive to make an awesome and streamlined project management software that allows you to seamlessly create, manage and rock projects!" %}</h3>

            <p class="lead">{% trans "Once you register and login..." %}</p>
            <img src="{% static "dashboard/images/register.png" %}" alt="Register"/>
            <img src="{% static "dashboard/images/login.png" %}" alt="Login"/>

            <p class="lead">{% trans "...you can currently view someone's profile..." %}"</p>
            <img src="{% static "dashboard/images/view_profile.png" %}" alt="View a Profile"/>

            <p class="lead">{% trans "...edit your own profile..." %}</p>
            <img src="{% static "dashboard/images/edit_profile.png" %}" alt="Edit your Profile"/>

            <p class="lead">{% trans "...create projects and invite other people..." %}</p>
            <img src="{% static "dashboard/images/create_project.png" %}" alt="Create a Project"/>

            <p class="lead">{% trans "...view, accept and reject pending project invites..." %}</p>
            <img src="{% static "dashboard/images/view_invites.png" %}" alt="Invites"/>

            <p class="lead">{% trans "...and of course check out your projects..." %}</p>
            <img src="{% static "dashboard/images/view_project.png" %}" alt="View a Project"/>
        </div>
    </div>

{% endblock %}