{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>{% trans "Your profile" %}</h2>
        <form class="form-group" action="{% url 'user_management:edit_profile' %}" method="POST">
            {% csrf_token %}
        <table class="table">
            <tr>
                <td><strong>{% trans "Username" %}: </strong></td>
                <td><h5>{{ user.username }}</h5></td>
            </tr>
            <tr>
                <td><strong>{% trans "E-Mail" %}:</strong></td>
                <td><input class="form-control" type="email" name="email" value="{{ user.email }}"></td>
            </tr>
            <tr>
                <td><strong>{% trans "Password" %}:</strong></td>
                <td><input class="form-control" type="password" name="password" value=""></td>
            </tr>
            <tr>
                <td><strong>{% trans "Repeat Password" %}:</strong></td>
                <td><input class="form-control" type="password" name="passwordrepeat" value=""></td>
            </tr>
            <tr>
                <td><strong>{% trans "First name" %}:</strong></td>
                <td><input class="form-control" type="text" name="first_name" value="{% if not user.profile.first_name %}{% else %}{{ user.profile.first_name }}{% endif %}"></td>
            </tr>
            <tr>
                <td><strong>{% trans "Last name" %}:</strong></td>
                <td><input class="form-control" type="text" name="last_name" value="{% if not user.profile.last_name %}{% else %}{{ user.profile.last_name }}{% endif %}"></td>
            </tr>
            <tr>
                <td><strong>{% trans "Phone" %}:</strong></td>
                <td><input class="form-control" type="number" name="phone" value="{% if not user.profile.telephone %}{% else %}{{ user.profile.telephone }}{% endif %}"></td>
            </tr>
            <tr>
                <td><strong>{% trans "City" %}:</strong></td>
                <td><input class="form-control" type="text" name="city" value="{% if not postal_code.city %}{% else %}{{ postal_code.city }}{% endif %}"></td>
            </tr>
            <tr>
                <td><strong>{% trans "ZIP-Code" %}:</strong></td>
                <td><input class="form-control" type="text" name="zip" value="{% if not postal_code.postal_code %}{% else %}{{ postal_code.postal_code }}{% endif %}"></td>
            </tr>
            <tr>
                <td><strong>{% trans "Street" %}:</strong></td>
                <td><input class="form-control" type="text" name="street" value="{% if not profile_address.street %}{% else %}{{ profile_address.street }}{% endif %}"></td>
            </tr>
            <tr>
                <td><strong>{% trans "Housenumber" %}:</strong></td>
                <td><input class="form-control" type="number" name="housenumber" value="{% if not profile_address.house_number %}{% else %}{{ profile_address.house_number }}{% endif %}"></td>
            </tr>
        </table>
            <button class="btn btn-success btn-lg">{% trans "Save Changes" %}</button>
        </form>
    </div>
</div>
{% endblock %}