<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Dein Benutzerprofil</h2>
<form action="" method="POST">
    <table>
        <tr>
            <td><strong>Nutzername: </strong></td>
            <td><input type="text" id="username" value="{{ user_data.username }}"></td>
        </tr>
        <tr>
            <td><strong>E-Mail:</strong></td>
            <td><input type="text" id="username" value="{{ user_data.email }}"></td>
        </tr>
        <tr>
            <td><strong>Vorname:</strong></td>
            <td><input type="text" id="username" value="{{ user_data.profile.first_name }}"></td>
        </tr>
        <tr>
            <td><strong>Nachname:</strong></td>
            <td><input type="text" id="username" value="{{ user_data.profile.last_name }}"></td>
        </tr>
        <tr>
            <td><strong>Telefon:</strong></td>
            <td><input type="text" id="username" value="{{ user_data.profile.telephone }}"></td>
        </tr>
        <tr>
            <td><strong>Stadt:</strong></td>
            <td><input type="text" id="username" value="{{ postal_code_data.city }}"></td>
        </tr>
        <tr>
            <td><strong>Postleitzahl:</strong></td>
            <td><input type="text" id="username" value="{{ postal_code_data.postal_code }}"></td>
        </tr>
        <tr>
            <td><strong>Strasse:</strong></td>
            <td><input type="text" id="username" value="{{ profile_address_data.street }}"></td>
        </tr>
        <tr>
            <td><strong>Hausnummer:</strong></td>
            <td><input type="text" id="username" value="{{ profile_address_data.house_number }}"></td>
        </tr>
            <button>Speichern</button>
    </table>
</form>
</body>
</html>