{% extends "user_management.html" %}
{% load i18n %}
{% block user_management %}
{# TODO: template-inharitance einfügen #}
{# TODO: hier localization nutzen #}
        <h1>Login</h1>
        {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <form class="input-group input-group-lg" method="post" action="{% url 'user_management:login' %}">
            {% csrf_token %}
            <input class="form-control" type="text" name="username" placeholder="Username" value="{{ username }}" required>
            <input class="form-control" type="password" name="password" placeholder="Password" required>
            <input type="hidden" name="next" value="{{ redirect }}">
            <input class="btn btn-lg btn-success btn-middle" type="submit" value="Login" class="btn btn-success">
        </form>
{% endblock %}