{% extends "user_management.html" %}
{% load i18n %}
{% block navigation %}
        <li><a href="{% url 'user_management:home' %}">{% trans "Home" %}</a></li>
        <li class="active"><a href="{% url 'user_management:login' %}">{% trans "Login" %}</a></li>
        <li><a href="{% url 'user_management:register' %}">{% trans "Register" %}</a></li>
{% endblock %}
{% block user_management %}
        <h1>{% trans "Login" %}</h1>
        {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <form class="input-group input-group-lg" method="post" action="{% url 'user_management:login' %}">
            {% csrf_token %}
            <input class="form-control" type="text" name="username" placeholder="{% trans "username" %}" value="{{ username }}" required>
            <input class="form-control" type="password" name="password" placeholder={% trans "password" %} required>
            <input type="hidden" name="next" value="{{ redirect }}">
            <input class="btn btn-lg btn-primary btn-middle" type="submit" value="Login" class="btn btn-success">
        </form>
{% endblock %}