{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-3">
        <h1>Login</h1>
        {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <form class="form-row" method="post" action="{% url 'user_management:login' %}">
            {% csrf_token %}
            <div>
                <input class="form-control" type="text" name="username" placeholder="Username" value="{{ username }}" required>
                <input class="form-control" type="password" name="password" placeholder="Password" required>
                <input type="hidden" name="next" value="{{ redirect }}">
                <input class="btn btn-success" type="submit" value="Login" class="btn btn-success">
            </div>
        </form>
    </div>
</div>

{% endblock %}