<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Dein Benutzerprofil</h2>
    <table>
        <tr>
            <td><strong>Nutzername: </strong></td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td><strong>E-Mail:</strong></td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td><strong>letzer Login:</strong></td>
            <td>{{ user.last_login}}</td>
        </tr>
        <tr>
            <td><strong>Vorname:</strong></td>
            <td>{% if not user.profile.first_name %}-{% else %}{{ user.profile.first_name }}{% endif %}</td>
        </tr>
        <tr>
            <td><strong>Nachname:</strong></td>
            <td>{% if not user.profile.last_name %}-{% else %}{{ user.profile.last_name }}{% endif %}</td>
        </tr>
        <tr>
            <td><strong>Telefon:</strong></td>
            <td>{% if not user.profile.telephone %}-{% else %}{{ user.profile.telephone }}{% endif %}</td>
        </tr>
        <tr>
            <td><strong>Stadt:</strong></td>
            <td>{% if not postal_code %}-{% else %}{{ postal_code }}{% endif %}</td>
        </tr>
        <tr>
            <td><strong>Anschrift:</strong></td>
            <td>{% if not profile_address %}-{% else %}{{ profile_address }}{% endif %}</td>
        </tr>
    </table>
</body>
</html>