{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>{% trans "Your profile" %}</h2>
        <img src="{{ user.profile.picture.url }}">
        <table class="table">
            <tr>
                <td><strong>{% trans "Username" %}: </strong></td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td><strong>{% trans "E-Mail" %}:</strong></td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td><strong>{% trans "Latest login" %}:</strong></td>
                <td>{{ user.last_login }}</td>
            </tr>
            <tr>
                <td><strong>{% trans "First name" %}:</strong></td>
                <td>{% if not user.profile.first_name %}-{% else %}{{ user.profile.first_name }}{% endif %}</td>
            </tr>
            <tr>
                <td><strong>{% trans "Last name" %}:</strong></td>
                <td>{% if not user.profile.last_name %}-{% else %}{{ user.profile.last_name }}{% endif %}</td>
            </tr>
            <tr>
                <td><strong>{% trans "Phone" %}:</strong></td>
                <td>{% if not user.profile.telephone %}-{% else %}{{ user.profile.telephone }}{% endif %}</td>
            </tr>
            <tr>
                <td><strong>{% trans "City" %}:</strong></td>
                <td>{% if not postal_code %}-{% else %}{{ postal_code }}{% endif %}</td>
            </tr>
            <tr>
                <td><strong>{% trans "Address" %}:</strong></td>
                <td>{% if not profile_address %}-{% else %}{{ profile_address }}{% endif %}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}