{% extends "no_session_template.html" %}
{% load i18n %}
{% block no_session_template %}
        <div class="col-md-4 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
            <h1>{% trans "Registration" %}</h1>
            {% for error, message in error_messages.items %}
            <div class="alert alert-danger">{{ message }}</div><br>
            {% endfor %}
            <form id="register-form" class="input-group input-group-lg" method="post" action="{% url 'user_management:register' %}">
                {% csrf_token %}
                <input class="form-control" type="text" name="username" placeholder="{% trans "Username" %}" value="{{ username_field }}" tabindex="1" required>
                <input class="form-control" type="email" name="email" placeholder="{% trans "eMail" %}" value="{{ email_field }}" tabindex="2" required>
                <input class="form-control" type="password" name="password" placeholder="{% trans "Password" %}" tabindex="3" required>
                <input class="btn btn-primary btn-lg btn-middle" type="submit" value="{% trans "Register" %}" tabindex="4">
            </form>
        </div>
{% endblock %}