{% extends "tweap/no_session_template.html" %}
{% load i18n %}
{% block no_session_template %}
    <div class="col-md-4 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-3 col-md-offset-4 well well-lg panel">
        <h1>{% trans "Set new password" %}</h1><br>
        {% if wrong_token %}
            <div class="alert alert-danger">{{ wrong_token }}</div>
        {% else %}
        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <form id="login-form" class="" method="post" action="{% url 'user_management:reset_password' reset_token %}">
            {% csrf_token %}
            <div class="input-group input-group-lg" style="margin-bottom:7px;">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <input class="form-control" type="password" name="password" placeholder="{% trans "New password" %}" tabindex="1" required autofocus="autofocus">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <input class="form-control" type="password" name="password2" placeholder="{% trans "New password confirmation" %}" tabindex="2" required>
            </div>
            <input class="btn btn-lg btn-primary btn-middle" type="submit" value="{% trans "Set password" %}" tabindex="3" class="btn btn-success">
        </form>
        {% endif %}
    </div>
{% endblock %}